## 프로그래머스 SQL 고득점 KIT

#### 1. 고양이와 강아지 수 출력

SELECT ANIMAL_TYPE, count(ANIMAL_ID) as 'count' <br>
from ANIMAL_INS <br>
where ANIMAL_TYPE = 'Cat' or ANIMAL_TYPE = 'Dog' <br>
group by ANIMAL_TYPE <br>
order by ANIMAL_TYPE asc;

#### 2. 동명 이름 수 구하기

SELECT NAME, count(ANIMAL_ID) as 'count' <br>
from ANIMAL_INS <br>
where not name is null <br>
group by NAME <br>
having count(NAME) > 1 <br>
order by NAME asc; <br>

#### 3. 입양 시간 구하기(1)
보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. <br>
09:00부터 19:59까지, 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 이때 결과는 시간대 순으로 정렬해야 합니다.

SELECT hour(datetime) as hour, count(*) as 'count' <br>
from animal_outs <br>
group by hour <br>
HAVING HOUR >= 9 AND HOUR <20 <br>
order by hour asc <br>

#### 4. 입양 시간 구하기(2)

보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. <br>
0시부터 23시까지, 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 이때 결과는 시간대 순으로 정렬해야 합니다.

-- 변수에 값 할당 <br>
SET @hour = -1; <br>
<br>
-- SELECT (@hour := @hour +1) 은 @hour의 값에 1씩 증가시키면서 <br>
-- SELECT 문 전체를 @hour < 23이 될 때까지 계속 실행된다.실행하게 된다. <br>
<br>
<br>
SELECT (@hour := @hour + 1) as HOUR,<br>
(SELECT COUNT(*) FROM ANIMAL_OUTS WHERE HOUR(DATETIME) = @hour) as COUNT<br>
FROM ANIMAL_OUTS<br>
WHERE @hour < 23