### 프로그래머스 SQL 고득점 KIT - IS NULL

#### Q. Null인 것은 'No name'으로 출력하라

SELECT animal_type, IFNULL(name, 'No name'), sex_upon_intake <br>
from animal_ins <br>
order by animal_id